@import "variables.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @font-main;
}

body {
    background-color: #colors[bg];
}

li {
    list-style: none;
}

.container {
    max-width: @container-max-width;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #colors[header];
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @header-padding;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;

        a {
            color: #colors[white];
            text-decoration: none;
        }
    }
}

section {
    padding: @section-padding;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 2%;
    row-gap: 4%;
    width: 100%;
}

.product-item {
    img {
        width: 100%;
        border-radius: 16px;
    }
}

.product-button {
    display: block;
    background-color: #colors[button];
    color: #colors[white];
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: #colors[button-hover];
    }
}

@media screen and (max-width: @breakpoint-tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: @breakpoint-mobile) {
    .products {
        display: block;
    }

    .product-item {
        margin-bottom: 32px;
    }
}
