#colors() {
    bg:             #f5f6fa;
    header:         #182C61;
    white:          #fff;
    button:         #44bd32;
    button-hover:   #4cd137;
}


@font-main: Roboto, sans-serif;


@header-padding:  16px ;
@section-padding: 56px ;

@breakpoint-tablet: 1023px;
@breakpoint-mobile: 767px;

@container-max-width: 1024px;
